.container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem;
}
.container > *{
    min-width: 25rem;
    max-width: 40rem;
}
img{
    border-radius: 26px;
    flex:1 0;
    object-fit: cover;
    height: 24rem ;
    margin: 1rem;

}
.detail{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    border-radius: 3rem;
    padding: 2rem;
    color: black;
    margin-left:1rem;

}
.detail > .header{
    display: flex;
    justify-content: space-between;
}
.detail .name{
     font-size: 2rem;
     font-weight: bold;
}
.detail .favourite{
    color: red;
    font-size: 2.5rem;
}
.detail .favourite.not{
    color: gray;
}
.detail .origin{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.detail .origin >span{
    padding: .5rem;
    font-size: 1.2rem;
    margin: .5rem .5rem .5rem 0;
    border-radius: 2rem;
    background-color:gray;
    color:white;

}
.detail .cocktime{
    margin:1rem
}
.detail .cocktime >span{
    padding: .6rem 2rem .6rem 0 ;
    border-radius: 10rem;
    font-size: 1.3rem;
}
.detail .price{
    font-variant: 3rem;
    margin: 0rem 2rem 1rem 1rem;
    color:green;
}
.detail .price::before{
    content: "price: ";
    color: gray;
    font-size: 1.3rem;
}
.detail .button
{
    
}