<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name">

    <div class="detail">
        <div class="header">
            <span class="name">
                {{food.name}}
            </span>
            <span class="favourite {{food.favourite}}?'';'not">
                🤍
            </span>

        </div>
        <div class="star">
            <ngb-rating class="star" [max]="5" [(rate)]="food.star" [readonly]="true"></ngb-rating>
        </div>
        <div class="origin">
            <span *ngFor="let origin of food.origins">
                {{origin}}
            </span>
        </div>
        <div class="tag">
            <app-tag [foodPageTage]="food.tags" justifyContent="start"></app-tag>

        </div>
        <div class="cocktime">
            <span>
                time to cock about <strong>{{food.cocktime}} </strong>Minute
            </span>
        </div>
        <div class="price">
            <span>
                {{food.price|currency}}
            </span>
        </div>
        <button class="btn btn-outline-primary" (click)="addToCart()" >Add to cart</button>
    </div>
</div>