ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
}
ul li a {
    height: 21rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: black;

}
li a:hover {
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: .15rem 1 rem;
    position: relative;
}
.name{
    position: absolute;
    top: 1rem;
    left: 0rem;
    font-size: 1.2rem;
}
.favourite{
    position: relative;
    top: 1rem;
    left: 18rem;
    font-size: 1.2rem;
}
.favourite.not{
   color: black; 
}
.star{
    margin-bottom: 0px;
    margin-top: 14px;

}
.product-footer-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origin{
    flex: 7;
}
.origin span{
    border-radius: 2rem;
    background-color: whitesmoke;
    color: gray ;
    font-size: .9rem;
}
.time{
    font-size: .8rem;
    flex: 5;
    text-align: right;
}
.price{
    color: rgb(47, 45, 45);
    margin-top: .2rem;
}