<ul>


  <li *ngFor="let data of getDataFromFoodService">
    <a>
        <img src="{{data.imageUrl}}" alt="image data">
        <div class="content">
          <div class="name">
            {{data.name}}
          </div>
          <span class="favourite {{data.favourite?'':'not'}}" >🤍</span>
        <br>
          <ngb-rating [max]="5" [(rate)]="data.star" [readonly]="true"></ngb-rating>
          <div class="product-footer-list">
            <div class="origin">
              <span *ngFor="let data of data.origins">
                {{data}}
              </span>
            </div>
            <div class="time">
              <span>🕑</span>
              {{data.cocktime}}
            </div>
            <div class="price">
              {{data.price | currency }}
            </div>
          </div>

        </div>
    </a>
</li>

</ul>
